---
- name: Ensure additional buckets exist.
  ansible.builtin.command: >-
    influx bucket create
    --host "{{ influxdb2_host }}"
    --name "{{ __bucket.name | ansible.builtin.mandatory }}"
    --description "{{ __bucket.description | default('') }}"
    --org "{{ __bucket.org | default(influxdb2_primary_org) }}" \
    --retention "{{ __bucket.retention | default(0) }}"
  loop: "{{ influxdb2_buckets }}"
  loop_control:
    label: "{{ __bucket.name }}"
    loop_var: __bucket
  register: _influxdb2_bucket_result
  failed_when:
    - _influxdb2_bucket_result.rc != 0
    - '"already exists" not in _influxdb2_bucket_result.stderr'
  changed_when: _influxdb2_bucket_result.rc == 0
