---
- name: Ensure additional organizations exist.
  ansible.builtin.command: >-
    influx org create
    --host "{{ influxdb2_host }}"
    --name "{{ __org.name | ansible.builtin.mandatory }}"
    --description "{{ __org.description | default('') }}"
  loop: "{{ influxdb2_orgs }}"
  loop_control:
    label: "{{ __org.name }}"
    loop_var: __org
  register: _influxdb2_org_result
  failed_when:
    - _influxdb2_org_result.rc != 0
    - '"already exists" not in _influxdb2_org_result.stderr'
  changed_when: _influxdb2_org_result.rc == 0
