---
- name: Ensure additional users exist.
  ansible.builtin.command: >-
    influx user create
    --host "{{ influxdb2_host }}"
    --name "{{ __user.name | ansible.builtin.mandatory }}"
    --password "{{ __user.password | ansible.builtin.mandatory }}"
    --org "{{ __user.org | default(influxdb2_primary_org) }}"
  loop: "{{ influxdb2_users }}"
  loop_control:
    label: "{{ __user.name }}"
    loop_var: __user
  register: _influxdb2_user_result
  failed_when:
    - _influxdb2_user_result.rc != 0
    - '"already exists" not in _influxdb2_user_result.stderr'
  changed_when: _influxdb2_user_result.rc == 0
