---
proxmox_host: node
proxmox_lxc:
  vmid: 100
  hostname: "caddy"
  password: "{{ lxc_default_password }}"
  template:
    name: "debian-12-standard_12.7-1_amd64.tar.zst"
    timeout: 180
  disk_volume:
    storage: "local-lvm"
    size: 4
  cores: 1
  memory: 512
  netif:
    net0: >-
      name={{ interfaces.lan.device }},ip={{
        (interfaces.lan.ip4.address ~ '/' ~ interfaces.lan.ip4.prefix) |
        ansible.utils.ipaddr('host/prefix')
      }},gw={{
        network.gw4
      }},bridge=vmbr0
  nameserver: "{{ dns.servers | join(',') }}"
  searchdomain: "{{ dns.search_domains | join(',') }}"
  features:
    - "keyctl=1"
    - "nesting=1"
  pubkey: "{{ lxc_default_pubkey }}"
  tags:
    - "webserver"
