[defaults]
nocows=True
inventory=./inventory
interpreter_python=auto_silent
vault_password_file=.vault-password

# Cache facts
fact_caching = jsonfile
fact_caching_connection = .ansible_facts_cache
# 24h
fact_caching_timeout = 86400
