---
- name: Find all Caddy sites files.
  ansible.builtin.find:
    paths: "{{ caddy_sites_dir }}"
  register: __caddy_existing_sites

- name: Build list of valid site filenames.
  ansible.builtin.set_fact:
    __caddy_valid_sites: >-
      {{
        caddy_sites |
        map(attribute='hostname') |
        map('replace', '.', '_') |
        map('regex_replace', '$', '.caddy') |
        list
      }}

- name: Delete unmanaged Caddy sites files.
  ansible.builtin.file:
    path: "{{ __file.path }}"
    state: "absent"
  notify: restart caddy service
  when: "(__file.path | basename) not in __caddy_valid_sites"
  loop: "{{ __caddy_existing_sites.files | default([]) }}"
  loop_control:
    label: "{{ __file.path }}"
    loop_var: __file
