---
- name: Trust Caddy local root CA.
  ansible.builtin.command: caddy trust
  become: true
  when: "caddy_local_certs | bool"
  register: __caddy_trust_result
  changed_when:
    - "'already trusted' not in __caddy_trust_result.stderr"

# TODO: Add changed_when to caddy untrust command.
- name: Untrust Caddy local root CA. # noqa: no-changed-when
  ansible.builtin.command: caddy untrust
  become: true
  when: "not caddy_local_certs | bool"
