{{ ansible_managed | comment(decoration='# ') }}

# ntfy server config file
#
# Please refer to the documentation at https://ntfy.sh/docs/config/ for details.

# Logging options
log-level: info
log-format: text
log-file: "{{ ntfy_dirs_log }}/ntfy.log"

# Public facing base URL of the service
base-url: "https://{{ proxy_ntfy_domain }}"

# If you are behind a proxy, you must set this.
behind-proxy: true

# Listen address for the HTTP & HTTPS web server.
listen-http: ":{{ proxy_ntfy_port }}"

# Messages are cached in a local SQLite database instead of only in-memory.
cache-file: "{{ ntfy_dirs_cache }}/cache.db"
cache-duration: "12h"

# Access to the ntfy server and API are controlled on a granular level using
# the 'ntfy user' and 'ntfy access' commands.
auth-file: "{{ ntfy_dirs_data }}/user.db"
auth-default-access: "deny-all"
