{{ ansible_managed | comment(decoration='# ') }}

ZIP_PASSWORD="{{ vaultwarden_backup_zip_pwd }}"

BACKUP_KEEP_DAYS="{{ vaultwarden_backup_keep_days }}"

RCLONE_REMOTE_NAME="{{ vaultwarden_backup_remote_name }}"

CRON='{{ vaultwarden_backup_cron }}'

# TODO: Use NTFY domain instead of address:port
PING_URL_WHEN_FAILURE='http://{{ proxy_ntfy_address }}:{{ proxy_ntfy_port }}/{{ vaulutwarden_backup_notification_topic }}'
PING_URL_WHEN_FAILURE_CURL_OPTIONS='-u {{ ntfy_admin_user }}:{{ ntfy_admin_password }} -H "Title: %{subject}" -d "%{content}"'

TIMEZONE='{{ docker_timezone }}'
