{{ ansible_managed | comment(decoration='# ') }}

# TODO: Add support for multiple Rclone remotes.
RCLONE_REMOTE_NAME="{{ vaultwarden_rclone_remote_name }}"
RCLONE_REMOTE_DIR="{{ vaultwarden_remote_dir }}"
RCLONE_GLOBAL_FLAG: "{{ vaultwarden_rclone_global_flag }}"
CRON="{{ vaultwarden_backup_cron }}"
ZIP_ENABLE="{{ vaultwarden_zip_enable | string | upper }}"
ZIP_PASSWORD="{{ vaultwarden_zip_password }}"
ZIP_TYPE: "{{ vaultwarden_zip_type }}"
BACKUP_FILE_SUFFIX="{{ vaultwarden_backup_file_suffix }}"
BACKUP_KEEP_DAYS="{{ vaultwarden_backup_keep_days }}"
PING_URL="{{ vaultwarden_ping_url }}"
PING_URL_CURL_OPTIONS="{{ vaultwarden_ping_url_curl_options }}"
PING_URL_WHEN_START="{{ vaultwarden_ping_url_when_start }}"
PING_URL_WHEN_START_CURL_OPTIONS="{{ vaultwarden_ping_url_when_start_curl_options }}"
PING_URL_WHEN_SUCCESS="{{ vaultwarden_ping_url_when_success }}"
PING_URL_WHEN_SUCCESS_CURL_OPTIONS="{{ vaultwarden_ping_url_when_success_curl_options }}"
PING_URL_WHEN_FAILURE="{{ vaultwarden_ping_url_when_failure }}"
PING_URL_WHEN_FAILURE_CURL_OPTIONS="{{ vaultwarden_ping_url_when_failure_curl_options }}"
MAIL_SMTP_ENABLE="{{ vaultwarden_mail_smtp_enable | string | upper }}"
MAIL_SMTP_VARIABLES="{{ vaultwarden_mail_smtp_variables }}"
MAIL_TO="{{ vaultwarden_mail_to }}"
MAIL_WHEN_SUCCESS="{{ vaultwarden_mail_when_success | string | upper }}"
MAIL_WHEN_FAILURE="{{ vaultwarden_mail_when_failure | string | upper }}"
MAIL_FORCE_THREAD="{{ vaultwarden_mail_force_thread | string | upper }}"
TIMEZONE="{{ vaultwarden_timezone }}"
