{{ ansible_managed | comment(decoration='# ') }}

services:
  vaultwarden:
    image: "vaultwarden/server:{{ vaultwarden_server_version }}"
    container_name: "vaultwarden"
    restart: "{{ vaultwarden_restart }}"
    env_file:
      - ".server.env"
    environment:
      TZ: "{{ vaultwarden_timezone }}"
    volumes:
      - "data:/data"
    ports:
      - "{{ vaultwarden_port }}:80"

  backup:
    image: "ttionya/vaultwarden-backup:{{ vaultwarden_backup_version }}"
    container_name: "vaultwarden-backup"
    restart: "{{ vaultwarden_restart }}"
    env_file:
      - ".backup.env"
    environment:
      TZ: "{{ vaultwarden_timezone }}"
    volumes:
      - "data:/bitwarden/data"
      - "./rclone:/config/rclone"

volumes:
  data:
