{{ ansible_managed | comment(decoration='# ') }}

## Vaultwarden Configuration File
##
## Be aware that most of these settings will be overridden if they were changed
## in the admin interface. Those overrides are stored within DATA_FOLDER/config.json .

{% for key, value in vaultwarden_config | dictsort %}
{{ key | upper }}={{ value | string | lower }}
{% endfor %}
