---
- name: Ensure LXC is present.
  module_defaults:
    # Token-based auth cannot set features, mount_volumes and hookscript,
    # even if the token is for the root user.
    community.proxmox.proxmox:
      node: "{{ proxmox_node | ansible.builtin.mandatory }}"
      api_host: "{{ proxmox_api_host | ansible.builtin.mandatory }}"
      api_user: "{{ proxmox_api_user | ansible.builtin.mandatory }}"

      state: present
      update: true

      # Set main LXC info
      vmid: "{{ proxmox_lxc.vmid | ansible.builtin.mandatory }}"
      hostname: "{{ proxmox_lxc.hostname | ansible.builtin.mandatory }}"
      password: "{{ proxmox_lxc.password | ansible.builtin.mandatory }}"
      unprivileged: "{{ proxmox_lxc.unprivileged | default(true) }}"
      ostemplate: >-
        {{ proxmox_lxc.template.storage | default('local') ~ ':' ~
           proxmox_lxc.template.content_type | default('vztmpl') ~ '/' ~
           proxmox_lxc.template.name | ansible.builtin.mandatory }}

      # Set hardware info
      cpus: "{{ proxmox_lxc.cpus | default(omit) }}"
      cores: "{{ proxmox_lxc.cores | default(omit) }}"
      memory: "{{ proxmox_lxc.memory | default(omit) }}"
      swap: "{{ proxmox_lxc.swap | default(omit) }}"

      # Set disk info
      disk_volume: "{{ proxmox_lxc.disk_volume | ansible.builtin.mandatory }}"

      # Set network interfaces
      netif: "{{ proxmox_lxc.netif | default(omit) }}"

      # Set boot options
      ostype: "{{ proxmox_lxc.ostype | default(omit) }}"
      onboot: "{{ proxmox_lxc.onboot | default(false) }}"
      startup: "{{ proxmox_lxc.startup | default(omit) }}"

      # Set SSH pubkey for remote access
      pubkey: "{{ proxmox_lxc.pubkey | default(omit) }}"

      # Set additional info
      nameserver: "{{ proxmox_lxc.nameserver | default(omit) }}"
      searchdomain: "{{ proxmox_lxc.searchdomain | default(omit) }}"
      timezone: "{{ proxmox_lxc.timezone | default('host') }}"
      tags: "{{ proxmox_lxc.tags | default([]) | union(['ansible']) }}"
      description: >-
        # ({{ proxmox_lxc.vmid }}) {{ proxmox_lxc.hostname }} LXC

        **Note:** This Proxmox LXC container is managed by Ansible.
        Please contact your system administrators to ensure that any changes you
        make here are not lost.
  block:
    - name: Ensure LXC is present via password.
      community.proxmox.proxmox: # noqa: args[module]
        api_password: "{{ proxmox_api_password }}"
      when: "__proxmox_is_password_setup"

    - name: Ensure LXC is present via token.
      community.proxmox.proxmox: # noqa: args[module]
        api_token_id: "{{ proxmox_api_token_id }}"
        api_token_secret: "{{ proxmox_api_token_secret }}"
      when: "__proxmox_is_token_setup"

- name: Ensure LXC exists after its creation.
  block:
    - name: Retrieve LXC status.
      module_defaults:
        community.proxmox.proxmox_vm_info:
          node: "{{ proxmox_node | ansible.builtin.mandatory }}"
          api_host: "{{ proxmox_api_host | ansible.builtin.mandatory }}"
          api_user: "{{ proxmox_api_user | ansible.builtin.mandatory }}"
          vmid: "{{ proxmox_lxc.vmid | ansible.builtin.mandatory }}"
      block:
        - name: Retrieve LXC status via password.
          community.proxmox.proxmox_vm_info: # noqa: args[module]
            api_password: "{{ proxmox_api_password }}"
          register: __proxmox_lxc_status_pwd
          when: "__proxmox_is_password_setup"

        - name: Retrieve LXC status via token.
          community.proxmox.proxmox_vm_info: # noqa: args[module]
            api_token_id: "{{ proxmox_api_token_id }}"
            api_token_secret: "{{ proxmox_api_token_secret }}"
          register: __proxmox_lxc_status_token
          when: "__proxmox_is_token_setup"

    - name: Set '__proxmox_vm_info_result' variable from retrieved state.
      ansible.builtin.set_fact:
        __proxmox_vm_info_result: >-
          {{
            (not (__proxmox_lxc_status_token.skipped | default(false))) |
            ternary(
              __proxmox_lxc_status_token,
              __proxmox_lxc_status_pwd
            )
          }}

    - name: Fail if the status is not defined.
      ansible.builtin.fail:
        msg: "Error retrieving status of LXC '{{ proxmox_lxc.vmid }}'."
      when: "__proxmox_vm_info_result.proxmox_vms is not defined"

    - name: Fail if the LXC does not exists after its creation.
      ansible.builtin.fail:
        msg: "LXC {{ proxmox_lxc.vmid }} does not exists after its creation."
      when: "__proxmox_vm_info_result.proxmox_vms | length <= 0 | bool"
