---
- name: Check for password or token authentication.
  block:
    - name: Set '__proxmox_is_password_setup' variable.
      ansible.builtin.set_fact:
        __proxmox_is_password_setup: >-
          {{
            proxmox_api_password is defined and
            proxmox_api_password is string and
            proxmox_api_password | length > 0
          }}

    - name: Set '__proxmox_is_token_setup' variable.
      ansible.builtin.set_fact:
        __proxmox_is_token_setup: >-
          {{
            proxmox_api_token_id is defined and
            proxmox_api_token_id is string and
            proxmox_api_token_id | length > 0 and
            proxmox_api_token_secret is defined and
            proxmox_api_token_secret is string and
            proxmox_api_token_secret | length > 0
          }}

    - name: Check conflict between password and token setup.
      ansible.builtin.assert:
        that: "not (__proxmox_is_password_setup and __proxmox_is_token_setup)"
        fail_msg: >-
          define either 'proxmox_api_password' or
          'proxmox_api_token_id' + 'proxmox_api_token_secret', not both.
        quiet: true

- name: Ensure pip is present.
  ansible.builtin.package:
    name: python3-pip
    state: present

- name: Ensure proxmox dependencies are present.
  ansible.builtin.pip:
    name:
      - proxmoxer>=2.0
      - requests
    break_system_packages: true
