---
- name: Manage system groups.
  ansible.builtin.group:
    name: "{{ __group.name | ansible.builtin.mandatory }}"
    gid: "{{ __group.gid | default(omit) }}"
    state: "{{ __group.state | default('present') }}"
    system: "{{ __group.system | default(false) }}"
  loop: "{{ system_groups }}"
  loop_control:
    label: "{{ __group.name }}"
    loop_var: __group

- name: Add sudo options for groups.
  ansible.builtin.template:
    src: sudoers_group.j2
    dest: "/etc/sudoers.d/groups"
    mode: "{{ system_users_sudo_mode }}"
    validate: "{{ system_users_sudo_validate_cmd }}"
