{{ ansible_managed | comment(decoration='# ') }}

services:
  ddns-updater:
    image: qmcgaw/ddns-updater:latest
    container_name: ddns
    restart: unless-stopped
    ports:
      - "{{ proxy_ddns_port }}:8000"
    volumes:
      - "data:/updater/data"
      - "./config:/updater/config"
    environment:
      TZ: "{{ docker_timezone }}"
      CONFIG_FILEPATH: "/updater/config/config.json"
      # TODO: Add support for notifications
      # SHOUTRRR_ADDRESSES:
      # SHOUTRRR_DEFAULT_TITLE:

volumes:
    data:
