{{ ansible_managed | comment(decoration='# ') }}

# --------------
# Global Options
# --------------
{
    admin {{ caddy_admin }}

    log default {
        output stderr
        format json
    }
{% if caddy_global_options | length > 0 %}

    {{ caddy_global_options | indent(4) }}
{% endif %}
}

# --------
# Snippets
# --------
import snippets/*

# -----
# Sites
# -----
import sites/*
