{{ ansible_managed | comment(decoration='# ') }}

{% if caddy_site_item.www_redir | default(false) %}
# Redirect www to root domain.
{{ caddy_site_item.protocol | default('https') }}://www.{{ caddy_site_item.hostname | ansible.builtin.mandatory }} {
    redir {{ caddy_site_item.protocol | default('https') }}://{{ caddy_site_item.hostname }}{uri}
}
{% endif %}

{{ caddy_site_item.protocol | default('https') }}://{{ caddy_site_item.hostname | ansible.builtin.mandatory }} {
    # Configure site access log.
    log {
        output file "{{ caddy_log_dir }}/{{ caddy_site_item.hostname | replace('.','_') }}.log.json"
        format json
    }

    # Encode responses.
    encode zstd gzip

{% if not (caddy_site_item.public | default(false)) %}
    # Block access to IPs outside private ranges.
    @outside_ip not remote_ip private_ranges

    respond @outside_ip 403 {
        body "Access forbidden."
        close
    }
{% endif %}

{% if caddy_site_item.proxies | default([]) | length > 0 %}
    # Proxies requests to one or more backends.
    reverse_proxy {
        to {{ caddy_site_item.proxies | join(' ') }}

        # Set headers going upstream to the backend
{% for header in caddy_site_item.header_up | default([]) %}
        header_up {{ header }}
{% endfor %}
    }
{% else %}
    # Default response when no proxies are defined.
    respond 200 {
        body "Hello from {{ caddy_site_item.hostname }}!"
        close
    }
{% endif %}
}
