{{ ansible_managed | comment(decoration='# ') }}

{% if _caddy_site.www_redir | default(false) %}
# Redirect www to root domain.
{{ _caddy_site.protocol | default('https') }}://www.{{ _caddy_site.hostname | ansible.builtin.mandatory }} {
    redir {{ _caddy_site.protocol | default('https') }}://{{ _caddy_site.hostname }}{uri}
}
{% endif %}

{{ _caddy_site.protocol | default('https') }}://{{ _caddy_site.hostname | ansible.builtin.mandatory }} {
    # Configure site access log.
    log {
        output file "{{ caddy_log_dir }}/{{ _caddy_site.hostname | replace('.','_') }}.log.json"
        format json
    }

    # Encode responses.
    encode zstd gzip

{% if not (_caddy_site.public | default(false)) %}
    # Block access to IPs outside private ranges.
    @outside_ip not remote_ip private_ranges

    respond @outside_ip 403 {
        body "Access forbidden."
        close
    }
{% endif %}

{% if _caddy_site.proxies | default([]) | length > 0 %}
    # Proxies requests to one or more backends.
    reverse_proxy {
        to {{ _caddy_site.proxies | join(' ') }}

        # Set headers going upstream to the backend
{% for header in _caddy_site.header_up | default([]) %}
        header_up {{ header }}
{% endfor %}
    }
{% else %}
    # Default response when no proxies are defined.
    respond 200 {
        body "Hello from {{ _caddy_site.hostname }}!"
        close
    }
{% endif %}
}
