---
- name: Get current config.
  ansible.builtin.import_tasks: current_config.yml

- name: Set features.
  ansible.builtin.import_tasks: features.yml

- name: Set mount volumes.
  ansible.builtin.import_tasks: mount_volumes.yml

- name: Set hookscript.
  ansible.builtin.include_tasks: hookscript.yml
  when: proxmox_lxc.hookscript is defined
