---
- name: Run preflight checks.
  ansible.builtin.import_tasks: preflight.yml

- name: Ensure template is present.
  ansible.builtin.import_tasks: template.yml

- name: Create the LXC.
  ansible.builtin.import_tasks: create.yml

- name: Configure the LXC.
  ansible.builtin.import_tasks: configure.yml

- name: Start the LXC.
  ansible.builtin.import_tasks: start.yml
