---
# Set mount volumes manually because token-based auth can't do it.
- name: Set mount volumes.
  when: >-
    (
      __lxc_current_config[__volume.key] |
      default('')
    ) != options_string
  ansible.builtin.command:
    argv:
      - pct
      - set
      - "{{ proxmox_lxc.vmid | ansible.builtin.mandatory }}"
      - "-{{ __volume.key }}"
      - "{{ options_string }}"
  loop: >-
    {{
      proxmox_lxc.mount_volumes |
      default({}) |
      ansible.builtin.dict2items
    }}
  loop_control:
    label: "{{ __volume.key }}={{ options_string }}"
    loop_var: __volume
  changed_when: true
  vars:
    options_string: >-
      {{
        [
          __volume.value.host_path | ansible.builtin.mandatory,
          'mp=' ~ __volume.value.mountpoint | ansible.builtin.mandatory
        ] | join(',')
      }}
