---
- name: Ensure LXC is running.
  module_defaults:
    community.proxmox.proxmox:
      node: "{{ proxmox_node }}"
      api_host: "{{ proxmox_api_host }}"
      api_user: "{{ proxmox_api_user }}"
      vmid: "{{ proxmox_lxc.vmid }}"
      state: started
  block:
    - name: Ensure LXC is running via password.
      community.proxmox.proxmox: # noqa: args[module]
        api_password: "{{ proxmox_api_password }}"
      when: "__proxmox_is_password_setup"

    - name: Ensure LXC is running via token.
      community.proxmox.proxmox: # noqa: args[module]
        api_token_id: "{{ proxmox_api_token_id }}"
        api_token_secret: "{{ proxmox_api_token_secret }}"
      when: "__proxmox_is_token_setup"
