---
- name: Ensure LXC template is present.
  module_defaults:
    community.proxmox.proxmox_template:
      node: "{{ proxmox_node | ansible.builtin.mandatory }}"
      api_host: "{{ proxmox_api_host | ansible.builtin.mandatory }}"
      api_user: "{{ proxmox_api_user | ansible.builtin.mandatory }}"
      template: "{{ proxmox_lxc.template.name | ansible.builtin.mandatory }}"
      storage: "{{ proxmox_lxc.template.storage | default(omit) }}"
      content_type: "{{ proxmox_lxc.template.content_type | default(omit) }}"
      timeout: "{{ proxmox_lxc.template.timeout | default(omit) }}"
      state: present
  block:
    - name: Ensure LXC template is present via password.
      community.proxmox.proxmox_template: # noqa: args[module]
        api_password: "{{ proxmox_api_password }}"
      when: "__proxmox_is_password_setup"

    - name: Ensure LXC template is present via token.
      community.proxmox.proxmox_template: # noqa: args[module]
        api_token_id: "{{ proxmox_api_token_id }}"
        api_token_secret: "{{ proxmox_api_token_secret }}"
      when: "__proxmox_is_token_setup"
