[commands]
upgrade_type = {{ system_update_autoupdate_type }}
download_updates = yes
apply_updates = yes
reboot = {{ 'when-needed' if system_update_autoupdate_reboot else 'never' }}

[emitters]
emit_via = {{ 'email,stdio' if system_update_autoupdate_mail_to else 'stdio' }}

{% if system_update_autoupdate_mail_to %}
[email]
email_to = {{ system_update_autoupdate_mail_to }}
{% endif %}
