---
#########################################
# Play that creates the LXC on the node.
#########################################
- name: Create influxdb LXC.
  hosts: node
  become: true
  vars_files:
    - "{{ inventory_dir }}/host_vars/influxdb/proxmox.yml"
  roles:
    - role: roles/create-lxc

#############################
# Play that sets up the host.
#############################
- name: Provision influxdb LXC.
  hosts: influxdb
  become: true

  roles:
    - role: roles/system-locale
    - role: roles/system-update
    - role: roles/system-users
    - role: roles/ssh
    - role: roles/motd
    - role: roles/influxdb2
