---
- name: Update repository cache.
  ansible.builtin.apt:
    update_cache: true

- name: List upgradable packages.
  when: update_print_upgradable | bool
  block:
    - name: Retrieve upgradable packages.
      ansible.builtin.command:
        cmd: "{{ update_list_upgradable_cmd }}"
      register: __update_upgradable_result
      changed_when: false
      failed_when: false

    - name: List upgradable packages.
      when: __update_upgradable_result.stdout_lines[1] is defined
      ansible.builtin.debug:
        msg: "{{ __update_upgradable_result.stdout }}"

- name: Upgrade packages.
  ansible.builtin.apt:
    upgrade: "{{ update_apt_upgrade_type }}"
  notify: reboot system

- name: Remove unused dependecy packages.
  when: update_autoremove | bool
  ansible.builtin.apt:
    autoremove: true
