---
- name: Update repository cache.
  ansible.builtin.package:
    update_cache: true

- name: List upgradable packages.
  when: system_update_print_upgradable | bool
  block:
    - name: Retrieve upgradable packages.
      ansible.builtin.command:
        cmd: "{{ system_update_list_upgradable_cmd }}"
      register: __system_update_upgradable_result
      changed_when: false
      failed_when: false

    - name: List upgradable packages.
      when: "'Available Upgrades' in __system_update_upgradable_result.stdout_lines"
      ansible.builtin.debug:
        msg: "{{ __system_update_upgradable_result.stdout }}"

- name: Upgrade packages.
  ansible.builtin.package:
    name: "*"
    state: "latest" # noqa: package-latest
  notify: reboot system

- name: Remove unused dependecy packages.
  when: system_update_autoremove | bool
  ansible.builtin.package:
    autoremove: true
