---
- name: Check DNS resolution.
  ansible.builtin.getent:
    database: "hosts"
    key: "{{ __dns }}"
  loop: "{{ system_update_network_dns_domains }}"
  loop_control:
    loop_var: __dns

- name: Check internet connectivity.
  ansible.builtin.uri:
    url: "{{ __url }}"
    method: GET
    return_content: false
    status_code: "{{ system_update_network_http_status_codes }}"
    timeout: "{{ system_update_network_http_timeout }}"
  loop: "{{ system_update_network_http_urls }}"
  loop_control:
    loop_var: __url
