{
    "settings": [
        {
            "provider": "{{ ddns_provider }}",
            "domain": "{{ ddns_domain }}",
            "username": "{{ ddns_username }}",
            "password": "{{ ddns_password }}",
            "ip_version": "ipv4"
        }
    ]
}
