{{ ansible_managed | comment(decoration='# ') }}

services:
  ddns-updater:
    image: "qmcgaw/ddns-updater:{{ ddns_version }}"
    container_name: "ddns"
    restart: "{{ ddns_restart }}"
    ports:
      - "{{ ddns_port }}:8000"
    volumes:
      - "data:/updater/data"
    env_file:
      ".env"
{% if ddns_dns_servers | length > 0 %}
    dns:
{% for server in ddns_dns_servers %}
      - "{{ server }}"
{% endfor %}
{% endif %}
    environment:
      TZ: "{{ ddns_timezone }}"
      # TODO: Add support for notifications
      # SHOUTRRR_ADDRESSES:
      # SHOUTRRR_DEFAULT_TITLE:

volumes:
    data:
