---
- name: Import Proxmox configuration playbook.
  ansible.builtin.import_playbook: proxmox.yml

- name: Import Linux configuration playbook.
  ansible.builtin.import_playbook: linux.yml

- name: Configure reverse proxy.
  hosts: caddy
  become: true
  roles:
    - role: roles/caddy
      tags: caddy

- name: Services hosted on Docker.
  hosts: docker
  become: true
  roles:
    - role: geerlingguy.docker
      tags: docker

- name: Configure Grafana.
  hosts: grafana
  become: true
  roles:
    - role: grafana.grafana.grafana
      tags: grafana

- name: Configure InfluxDB.
  hosts: influxdb
  become: true
  roles:
    - role: roles/influxdb2
      tags: influxdb

- name: Configure NTFY.
  hosts: ntfy
  become: true
  roles:
    - role: roles/ntfy
      tags: ntfy
