---
- name: Import Proxmox configuration playbook.
  ansible.builtin.import_playbook: proxmox.yml

- name: Import Linux configuration playbook.
  ansible.builtin.import_playbook: linux.yml

- name: Configure reverse proxy.
  hosts: caddy
  become: true
  tags: caddy
  pre_tasks:
    - name: Generate 'caddy_site' variable from dynamic services.
      ansible.builtin.set_fact:
        caddy_sites: >-
          {{
            groups['all'] |
            map('ansible.builtin.extract', hostvars) |
            selectattr('caddy_sites', 'defined') |
            map(attribute='caddy_sites') |
            list |
            flatten
          }}
  roles:
    - role: roles/caddy

- name: Services hosted on Docker.
  hosts: docker
  become: true
  tasks:
    - name: Install docker.
      tags: docker
      block:
        - name: Add docker's repository to apt.
          ansible.builtin.deb822_repository:
            name: Docker
            architectures: amd64
            components: stable
            signed_by: https://download.docker.com/linux/debian/gpg
            suites: bookworm
            types: deb
            uris: https://download.docker.com/linux/debian

        - name: Install docker from the official repository.
          ansible.builtin.apt:
            name:
              - docker-ce
              - docker-ce-cli
              - containerd.io
              - docker-buildx-plugin
              - docker-compose-plugin
            update_cache: true
            state: present

        - name: Enable docker service on boot.
          ansible.builtin.service:
            name: docker
            enabled: true
            state: started

- name: Configure Grafana.
  hosts: grafana
  become: true
  roles:
    - role: grafana.grafana.grafana
      tags: grafana

- name: Configure InfluxDB.
  hosts: influxdb
  become: true
  roles:
    - role: roles/influxdb2
      tags: influxdb

- name: Configure NTFY.
  hosts: ntfy
  become: true
  roles:
    - role: roles/ntfy
      tags: ntfy
