---
- name: Create Proxmox LXCs.
  hosts: pvenodes
  become: true
  tags:
    - proxmox
    - lxc
  vars:
    # Select all hosts with `proxmox_lxc` defined and `proxmox_host`
    # pointing to the current host.
    lxc_guests: >-
      {{
        groups['all'] |
        map('ansible.builtin.extract', hostvars) |
        selectattr('proxmox_lxc', 'defined') |
        selectattr('proxmox_host', 'defined') |
        selectattr('proxmox_host', 'equalto', inventory_hostname)
      }}
  tasks:
    - name: Create LXC guests.
      ansible.builtin.include_role:
        name: roles/create_lxc
      vars:
        proxmox_lxc: "{{ guest.proxmox_lxc }}"
      loop: "{{ lxc_guests }}"
      loop_control:
        label: "{{ guest.inventory_hostname }}"
        loop_var: guest

    - name: Wait for SSH to become accessible.
      delegate_to: "{{ guest.inventory_hostname }}"
      ansible.builtin.wait_for_connection:
        timeout: 60
      loop: "{{ lxc_guests }}"
      loop_control:
        label: "{{ guest.inventory_hostname }}"
        loop_var: guest
